node_modules/
.env
uploads/products/*
!uploads/products/.gitkeep
uploads/audio/*
!uploads/audio/.gitkeep
data/qdrant_local_db/
integrations/voice_team/*.bin
integrations/voice_team/*.pkl
integrations/voice_team/alt_doc_map.pkl
integrations/voice_team/alt_faiss_index.bin
data/Amazon-Products-Visual.csv
data/Amazon-Products-100.csv
*.sqlite
data/mongodb-memory/
data/product_images/
data/product_images_2/
frontend/node_modules/
frontend/dist/
scripts/__pycache__/
__pycache__/
*.json
!package.json
!package-lock.json
!frontend/package.json
!frontend/package-lock.json
!nodemon.json
